<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DataEase 嵌入 demo</title>

    <script>
        function logoutDataEase(){
            document.getElementsByTagName("iframe")[0].src = "/dataease/crossorigin/logout";
        }
        function loginDataEase(){
            var xhr = new XMLHttpRequest();
            var url = `/dataease`
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    const urlStr = xhr.response;
                    console.log(">>>>:" + urlStr);
                    try {
                        let timestamp = new Date().getTime();
                        function getUrlParams(url) {
                            const params = JSON.parse(url);
                            return params;
                        }
                        let params = getUrlParams(urlStr)

                        let token =  '{"c":'+timestamp+',"e":253402300799000,"v":"\\"'+params["token"]+'\\""}'
                        let custom_auth_logout_url =  '{"c":'+timestamp+',"e":253402300799000,"v":"\\"'+params["logout_url"]+'\\""}'
                        let exp =  '{"c":'+timestamp+',"e":253402300799000,"v":"\\"'+params["exp"]+'\\""}'
                        localStorage.setItem("user.token", token);
                        localStorage.setItem("user.exp", exp);
                        localStorage.setItem("custom_auth_logout_url",custom_auth_logout_url);
                        // todo：替换成 DataEase 页面的访问地址
                        window.location.href='https://a.fit2cloud.com/dataease';
                    } catch (e) {
                        window.alert('Token 解析失败，请联系系统管理员！');
                    }
                }
            }
            xhr.open('get', url, true);
            xhr.send();
        }
    </script>

    <style>
        body {
            font-size: 14px;
            font-weight: 500;
        }
        iframe {
            width: calc(100vw - 20px);
            height: calc(100vh - 73px);
            box-shadow: 2px 2px 4px 2px rgb(54 58 80 / 12%);
            border: 1px solid #ddd;
        }
        button {
            margin: 5px 0;
        }
    </style>
</head>
<body>
<span>DataEaseV2版本模拟登录demo：</span><br/>
<button onclick="loginDataEase()">登录 DataEase</button><button onclick="logoutDataEase()">登出 DataEase</button>
<br/>
<!--<iframe src="/front-login"/>-->
<iframe src="https://www.fit2cloud.com"/>
</body>
</html>
