<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DataEase 模拟登录 demo</title>

    <script>
        try {
            let custom_auth_logout_url = localStorage.getItem("custom_auth_logout_url");
            let jsonObj = JSON.parse(custom_auth_logout_url);
            let logout_url = jsonObj.v.replace(/['"]/g, '');
            debugger
            localStorage.clear();
            window.location.href=logout_url;
        } catch (e) {
            window.alert('操作失败，请联系系统管理员！');
        }
    </script>
</head>
<body style="font-size: 14px;font-weight: 500;">
<span>正在登出...</span><br/>
</body>
</html>
